@media only screen and (max-width: 1200px){
	html{
		background:#fff;
	}
	body {
		width: 480px;
		margin: 0 auto;
		background:#1e243a;
	}
	.header{
		left: auto;
		top:auto;
		width: 480px;
	}
	.header .nav{
		position: static;
	}
	.header .nav ul li{
		width: 20%;
		margin-left:0;
		text-align: center;
	}
	.header .contact{
		display: none;
	}
	.header .resumedown{
		display: none;
	}

	.wrapper{
		width: auto;
		padding: 0 10px;
	}

	/*#myInfo .skill_f{
		margin-top:20px;
	}*/
	.skill_list h4{
		display: none;
	}
	#myInfo_content .title{
		margin-top:10px;
	}
	.skill_detail{
		display: block;
		width: auto;
		position: static;
	}
	#myInfo .skill_f{
		margin-top:10px;
	}
	.skill_list{
		margin-bottom: 5px;
		font-size: 15px;
	}
	.intro{
		position: static;
		height: auto;
		padding: 40px 0;
	}
	.intro .title{
		display: none;
	}
	.intro .title1{
		display: block;
	}
	.intro .txt{
		width: auto;
		position: static;
		margin-left: 0;
		line-height: 25px;
		margin-top:30px;
	}
	
	
	
	.exp{
		padding: 40px 0;
	}
	.exp .exp-content{
		margin-left:0;
	}
	.exp .exp-content .txt{
		margin-left: 0;
	}
	.exp .exp-content li{
		position: static;
		border:0;
		margin-bottom: 30px;
	}
	.exp .exp-content .ico{
		display: none;
	}
	.exp .exp-content li:nth-child(even){
		margin-left: 0;
		width: auto;
		text-align: left;
		border:0;
	}
	
	.worklist{
		display: none;
	}
	.phonew{
		display: block;
	}
	.weixin .img{
		display: none;
	}
}