body{

	font-family: '黑体'
}

/*nav*/
.header{
		position:fixed;
		left:0;
		top:0;
		width:100%;
		background:#1e243a;
		z-index:1000;
		box-shadow:0 0 10px #ccc;
		border-bottom:1px solid #ccc;
		height: 76px;
		line-height: 76px;
		font-size: 16px;
}	   	
.header .nav{
	position:absolute;
	left: 390px;
}
.header .nav ul{
	height: auto;
	overflow: hidden;
}
.header .nav ul li{
	float:left;
	list-style: none;
	color: #cfd1d1;
	margin-left: 20px;

}
.header .nav ul li a{
	color: #cfd1d1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*.header .nav li a:hover{
	color:#5e6363;
	text-decoration:none;
}*/
.header li.active a{
	color: #fff!important; 
}
.header .contact{
	position: absolute;
	right: 10px;
	padding:0 10px;
	color:#cfd1d1;
}
.header .contact .telephone{
	margin-left:10px;
}
			
		
/*myInfo*/
#myInfo{
	background: url(../img/bg2.png) #1e243a;
}
#myInfo .title{
	text-align: center;
}
#myInfo.active .title{
	animation: swing 1s 0.5s both;
	-webkit-animation:swing 1s 0.5s both;
	-moz-animation:swing 1s 0.5s both;
	-ms-animation:swing 1s 0.5s both;
	-o-animation:swing 1s 0.5s both;
}
#myInfo span{
	font-size: 30px;
	color:#fec71f;
	border:1px solid #fec71f;
	display: inline-block;
	padding: 5px;
}
#myInfo_info{
	margin:25px auto;
	line-height:30px;
	text-align:left;
}

#myInfo .skill_f{
	margin-top: 40px;
	font-size:16px;
}
.skill_list{
	margin-bottom:20px;	
	position:relative;
	transition:all 2s;
}
.skill_detail ul {
	padding-left:15px;
}
.skill_detail ul li{
	list-style:initial;
}
.skill_list_name{
	height:40px;
	line-height:40px;
	padding-left:20px;
	overflow: hidden;
	border-left:3px solid;
	color:#ff742a;
	background:#fff6dd;
	border-color:#fdbc40;
}
.skill_list_first{
	color:#6e9c0f;
	background-color:#EAF9BF;
	border-color:#80bd01;
}
.skill_list_sec{
	color:#2a7da9;
	background-color:#d6efff;
	border-color:#3498db;
}

.skill_list_name {
	position: relative;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.skill_list_html{
	width:90%;
	animation-name:myfirsthtml;
}

@keyframes myfirsthtml{
	0% { width: 0; }
	100% { width: 90%; }
}
@-webkit-keyframes myfirsthtml{
	0% { width: 0; }
	100% { width: 90%; }
}
				

.skill_list_javascript_jquery{
	width:70%;
	animation-name:myfirstjj ;
	-webkit-animation-name:myfirstjj ;
}

@keyframes myfirstjj{
	0% { width: 0; }
	100% { width: 70%; }
}
@-webkit-keyframes myfirstjj{
	0% { width: 0; }
	100% { width: 70%; }
}	

.skill_list_requirejs_axure{
	width:50%;
	animation-name:myfirstre ;
	-webkit-animation-name:myfirstre ;
}

@keyframes myfirstre{
	0% { width: 0; }
	100% { width: 50%; }
}
@-webkit-keyframes myfirstre{
	0% { width: 0; }
	100% { width: 50%; }
}	

.skill_list_bootstrap{
	width:30%;
	animation-name:myfirstbt ;
	-webkit-animation-name:myfirstbt ;
}

@keyframes myfirstbt{
	0% { width: 0; }
	100% { width: 30%; }
}
@-webkit-keyframes myfirstbt{
	0% { width: 0; }
	100% { width: 30%; }
}	

.skill_detail{
	position: absolute;
	top:12px;
	left:150px;
	z-index: 9999;
	width:350px;
	background:rgba(255,255,255,0.8);
	box-shadow:0 0 3px rgba(0,0,0,0.2);
	border-radius: 4px;
	padding:10px;
	display:none;
	line-height: 22px;

}
.skill_list:hover .skill_detail{
	display:block;
}


/*intro*/
.intro{
	background-color: #1e243a;
	text-align: center;
/*	position: relative;*/
}
.fp-tableCell{
	position: relative;
}

.intro .title{
	position: absolute;
	right:90px;
	top:200px;
}
.intro.active .title{
	animation: bounce 2s 0.5s both;
	-webkit-animation:bounce 2s 0.5s both;
	-moz-animation:bounce 2s 0.5s both;
	-ms-animation:bounce 2s 0.5s both;
	-o-animation:bounce 2s 0.5s both;
}
.intro .title span{
	font-size: 60px;
	color:#fec71f;
	border:1px solid #fec71f;
	display: inline-block;
	padding: 5px;
}

.intro .title1{
	text-align: center;
	display: none;
}
.intro.active .title1{
	animation: swing 1s 0.5s both;
	-webkit-animation:swing 1s 0.5s both;
	-moz-animation:swing 1s 0.5s both;
	-ms-animation:swing 1s 0.5s both;
	-o-animation:swing 1s 0.5s both;
}
.intro .title1 span{
	font-size: 30px;
	color:#fec71f;
	border:1px solid #fec71f;
	display: inline-block;
	padding: 5px;
}
.intro .txt{
	color:#cfd1d1;
	font-size: 18px;
	width: 520px;
	line-height: 30px;
	display: inline-block;
	text-align:justify
}
.intro .txt span{
	font-weight: bold;
	color:#fec71f;
	margin-left: 5px;
}
.intro .txt span a{
	color:#fec71f;
}


/*exp*/
.exp{
	background:url(../img/bg2.png) repeat;
	padding-top:80px;
	padding-bottom: 80px;
}
.exp .title{
	color:#fec71f;
	text-align:center;
}
.exp.active .title{
	animation: swing 1s 0.5s both;
	-webkit-animation:swing 1s 0.5s both;
	-moz-animation:swing 1s 0.5s both;
	-ms-animation:swing 1s 0.5s both;
	-o-animation:swing 1s 0.5s both;
}
.exp .title span{
	font-size: 30px;
	color:#fec71f;
	border:1px solid #fec71f;
	display: inline-block;
	padding: 5px;
}
.exp .ico{
	text-align: center;
	margin-top:20px;
}
.exp .exp-content{
	margin-left:600px;
	margin-top:20px;
}
.exp .exp-content li{
	position: relative;
	border-left: 1px solid #fec71f;
}
.exp .exp-content li:nth-child(even){
	margin-left:-600px;
	width:600px;
	text-align: right;
	border-left: 0;
	border-right: 1px solid #fec71f;
}
.exp .exp-content li:nth-child(even) .ico{
	left:auto;
	right:-12.5px;
	background: url(../img/img2.png) no-repeat;
	width: 41px;
	height: 24px;
}
.exp .exp-content li:nth-child(even) .txt{
	margin-right: 40px;
}
.exp .exp-content .ico{
	background: url(../img/img1.png) no-repeat;
	width:44px;
	height: 24px;
	position: absolute;
	top:0;
	left:-12.5px;
}
.exp .exp-content .txt{
	margin-left: 40px;
}
.exp .exp-content .txt h3{
	font-size: 18px;
	color:#fec71f;
}
.exp .exp-content .txt p{
	margin-top:10px;
	font-size: 18px;
	color:#fff;
}
.exp.active .exp-content li:nth-child(1) .txt{
	animation: fadeIn 1s 1s both;
	-webkit-animation:fadeIn 1s 1s both;
	-moz-animation:fadeIn 1s 1s both;
	-ms-animation:fadeIn 1s 1s both;
	-o-animation:fadeIn 1s 1s both;
}
.exp.active .exp-content li:nth-child(2) .txt{
	animation: fadeIn 1s 1.5s both;
	-webkit-animation:fadeIn 1s 1.5s both;
	-moz-animation:fadeIn 1s 1.5s both;
	-ms-animation:fadeIn 1s 1.5s both;
	-o-animation:fadeIn 1s 1.5s both;
}
.exp.active .exp-content li:nth-child(3) .txt{
	animation: fadeIn 1s 2s both;
	-webkit-animation:fadeIn 1s 2s both;
	-moz-animation:fadeIn 1s 2s both;
	-ms-animation:fadeIn 1s 2s both;
	-o-animation:fadeIn 1s 2s both;
}
/*.exp .exp-content li:last-child{
	border:0;
}*/


/*work*/
.work{
	background-color: #1e243a;
}
.work .title{
	text-align: center;
}
.work.active .title{
	animation: swing 1s 0.5s both;
	-webkit-animation:swing 1s 0.5s both;
	-moz-animation:swing 1s 0.5s both;
	-ms-animation:swing 1s 0.5s both;
	-o-animation:swing 1s 0.5s both;
}
.work .title span{
	font-size: 30px;
	color:#fec71f;
	border:1px solid #fec71f;
	display: inline-block;
	padding: 5px;
}
.wrapper{
	width: 1200px;
	margin:0 auto;
}

.work .worklist{
	margin-top:20px;
}
.work .worklist ul{
	height: auto;
	overflow: hidden;
	width: 1205px;
}
.work .worklist li{
	width: 216px;
	background: #fff;
	padding:10px;
	float:left;
	margin-right: 5px;
	margin-bottom:10px;
	border-radius: 5px;
	text-align: center;
	transition: all 0.3s;
	transition: all 1s;
	position: relative;

}
.work .worklist li:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}
.work .worklist li .img{
	background:#ccc;
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 150px;
}
.work .worklist li .img img{
	transition: all 1s;
}
.work .worklist li .img img:hover{
	transform:scale(1.1);
}
.work .worklist li .img img{
	width: 100%;
}
.work .worklist li .img span{
	position: absolute;
	bottom:0;
	right: 0;
	left:0;
	background-color:rgb(34,34,34);
	color:#fff;
	padding: 3px 0;
	display: inline-block;
}
.work .worklist li h4{
	margin-top:20px;
}
.work .worklist li .txt{
	margin-top:20px;
}
.work .worklist li .txt a{
	color:red;
}
.work .mask{
	position: absolute;
	background: rgba(0,0,0,0.8);
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.work .erweima{
	margin-top:5px;
}
.work .mask table{
	width: 100%;
	height: 100%;
	text-align: center;
}
.work .mask img{
	width: 200px;
	height: 200px;
}
.work .mask .close{
	width: 25px;
	height: 25px;
	background: #fb7614;
	position: absolute;
	top:0;
	right: 0;
	line-height: 25px;
	cursor: pointer;
}
/*weixin*/
.weixin{
	background: url(../img/bg2.png) repeat;
	padding: 40px 0;
	text-align: center;
}
.weixin .img{
	margin-bottom:20px;
}
.weixin .txt{
	font-size: 22px;
	color:#cfd1d1;
	position: relative;
	left:10px;
}
.weixin.active .txt{
	animation: tada 1s 1s both;
	-webkit-animation:tada 1s 1s both;
	-moz-animation:tada 1s 1s both;
	-ms-animation:tada 1s 1s both;
	-o-animation:tada 1s 1s both;
}
/*改变fullpage导航栏颜色*/
#fp-nav ul li a.active span,  
.fp-slidesNav ul li a.active span {  
    background: #fff; /*这里设置的是活动导航的颜色*/  
}  
#fp-nav ul li a span,  
.fp-slidesNav ul li a span {  
    border: 1px solid #fff;/*这里设置的是非活动导航的颜色*/  
}  
.phonew{
	display: none;
	margin-top:15px;
}
.phonew li{
	height: 50px;
	background:#fff;
	margin-bottom: 5px;
	line-height: 50px;
	font-size: 17px;
	border-radius: 5px;
	position: relative;
	background: rgba(255,255,255,0.8);
}
.phonew li .txt{
	margin-left:40px;
}
.phonew li .ico{
	background: url(../img/img11.png) center no-repeat;
	position: absolute;
	top:0;
	right: 0;
	width:50px;
	height: 50px;
	text-align: center;
}
.phonew li .img{
	position: absolute;
	left:10px;
	top:2px;
}