/*@charset "gb2312";*/
/**Copyright 2007 Qietu Inc. All rights reserved.
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------

 html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
 body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
 * {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/} em,i{ font-style:normal;}



/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}/* 清除浮动*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* 高度自适应 */ 
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
	/*超出省略号*/
	 word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
	position:fixed; 
	clip:rect(0 100% 100% 0);
	_position:absolute;
	
	/* 底部 */
	bottom:0px;
	left:0px;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
	
	/* 左侧 */
	/*left:0px;*/
	/*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}
/* 解决固定层在IE6下闪的问题 */
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/x.png');}

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,ff86aa a{ color:#ff8600;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}
/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */


/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
 body{font-family: "Microsoft YaHei",sans-serif;}
 
 .css3{
 	/*transition: all 0.3s ease-in-out 0s;*/
	
	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
 
@media screen and (max-width: 650px) {    
  
  }
  
  @media screen and (max-width: 480px) {   
	 
  }
.rotate
{
transform:rotate(7deg);
-ms-transform:rotate(7deg); 	/* IE 9 */
-moz-transform:rotate(7deg); 	/* Firefox */
-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
-o-transform:rotate(7deg); 	/* Opera */
}

/*-webkit-text-size-adjust:none; /*禁止苹果对部分字体放大处理bug*/
html{
	font-size: 125%;
}
@media only screen and (max-width:640px) {
	html{
		font-size:108.33%;
		}
}
@media only screen and (max-width:561px) {
	html{
		font-size:93.33%;
		}
}
@media only screen and (max-width:481px) {
	html{
		font-size:80.16%;
		}
}
@media only screen and (max-width:376px) {
	html{
		font-size:62.67%;
		}
}
@media only screen and (max-width:361px) {
	html{
		font-size:60.17%;
		}
}
@media only screen and (max-width:320px) {
	html{
		font-size:53.33%;
		}
}
.wrap{
	width:37.5rem;
	margin: 0 auto;
	font-size:1.2rem;
	color:#fff;
}
.page1,
.page2,
.page3{
	height:56.85rem;
	background: url(../imgs/bg.jpg) no-repeat #0d0806;
	overflow: hidden;
	background-size: cover;
	position: relative;
}
.logo{
	margin-top:3.25rem;
	margin-left:14.8rem;
}
.logo img{
	width:7.8rem;
	height:1.9rem;
}
.page1 .logo2{
	margin-top:1.25rem;
	text-align: center;
}
.page1 .logo2 img{
	width:23.7rem;
	height: 17.35rem;
}
.page1 .list{
	margin-top:2.6rem;
	margin-left:18.75rem;
}
.page1 .list ul{
	border-left:1px solid #71643d;
}
.page1 .list li{
	margin-bottom: 0.7rem;
	position: relative;
}
.page1 .list li .ico{
	background:url(../imgs/img2.png) no-repeat;
	position:absolute;
	width:1.25rem;
	height:1.25rem;
	top:0;
	left:-0.625rem;
	background-size:cover;
}
.page1 .list li .txt{
	margin-left:2rem;
}
.page1 .list li .txt h2{
	line-height: 1;
	font-size:1.35rem;
	color:#b99c63;
}
.page1 .list li .txt h3{
	font-size:1.15rem;
	color:#b99c63;
	line-height:1.7rem;
}
.page1 .list li .txt h4{
	font-size:1.2rem;
	color:#96896e;
	line-height: 1.6rem;
}
.page1 .list li:nth-child(even){
	margin-left:-18.75rem;
	width:18.75rem;
	text-align:right;
}
.page1 .list li:nth-child(even) .txt{
	margin-right:2rem;
}
.page1 .list li:nth-child(even) .ico{
	right:-0.625rem;
	left:auto;
}
.arrow{
	position: absolute;
	bottom: 2.7rem;
	left:50%;
	margin-left:-1.5rem;
}
.arrow img{
	width: 3rem;
	height: 3rem;
}
.page2 .logo2{
	margin-top: 1.15rem;
	margin-left:7rem;
}
.page2 .logo2 img{
	width: 23.25rem;
	height: 11.7rem;
}
.page2 .gift{
	margin-top:3.8rem;
	margin-left:4.7rem;
}
.page2 .gift li{
	float:left;
	margin-right: 2.3rem;
	margin-bottom:1.5rem;
}
.page2 .gift li img{
	height:7.85rem;
}
.page3{
	position: relative;
}
.page3 .logo2{
	margin-top:1.75rem;
	margin-left:6.6rem;
}
.page3 .logo2 img{
	width:24.8rem;
	height: 11.55rem;
}
.page3 .list{
	margin-top:4.7rem;
	margin-left:7.15rem;
	position:relative;
}
.page3 .list img{
	width:6.5rem;
	height: 14.4rem;
}
.page3 .list .txt{
	font-size:1.2rem;
	color:#fced9c;
	position: absolute;
	top:4.5rem;
	left:10rem;
}
.page3 .list .txt h2{
	line-height: 1;
	margin-bottom: 1rem;
}
.page3 .btn{
	margin-top:5.6rem;
	text-align: center;
	color:#fdf098;
}
.page3 .btn a{
	display: inline-block;
	width:12rem;
	height:4rem;
	line-height: 4rem;
	border:1px solid #f6cb6f;
	color:#fdf098;
	margin-right:2rem;
}
.page3 .tip{
	text-align: center;
	margin-top:1.5rem;
	font-size: 1.2rem;
	color:#947553;
}
.page3 .dialog{
	display:none;
}
.page3 .dialog.show{
	display:block;
}
.page3 .mask{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom: 0;
	background: rgba(0,0,0,0.85);
}
.page3 .share{
	margin-top:1.5rem;
	position: absolute;
	top:1.5rem;
	left:6.4rem;
}
.page3 .share img{
	width: 27rem;
	height: 10.95rem;
}