/*@charset "gb2312";*/
/**Copyright 2007 leixin Inc. All rights reserved.
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------

 html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
 body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
 * {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/} em,i{ font-style:normal;}



/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}/* 清除浮动*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* 高度自适应 */ 
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
	/*超出省略号*/
	 word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
	position:fixed; 
	clip:rect(0 100% 100% 0);
	_position:absolute;
	
	/* 底部 */
	bottom:0px;
	left:0px;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
	
	/* 左侧 */
	/*left:0px;*/
	/*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}
/* 解决固定层在IE6下闪的问题 */
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/x.png');}

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,ff86aa a{ color:#ff8600;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}
/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */


/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
 body{font-family: "Microsoft YaHei",sans-serif;}
 
 .css3{
 	/*transition: all 0.3s ease-in-out 0s;*/
	
	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
 
@media screen and (max-width: 650px) {    
  
  }
  
  @media screen and (max-width: 480px) {   
	 
  }
.rotate
{
transform:rotate(7deg);
-ms-transform:rotate(7deg); 	/* IE 9 */
-moz-transform:rotate(7deg); 	/* Firefox */
-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
-o-transform:rotate(7deg); 	/* Opera */
}

/*-webkit-text-size-adjust:none; /*禁止苹果对部分字体放大处理bug*/

body{
	-webkit-text-size-adjust:none; /*禁止苹果对部分字体放大处理bug*/

}
.wrap{
	width:750px;
	margin: 0 auto;
	font-size:24px;
	color:#fff;
}
.page1,
.page2,
.page3{
	height:1137px;
	background: url(../imgs/bg.jpg) #0d0806 no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.logo{
	margin-top:65px;
	margin-left:296px;
}
.page1.active .logo{
	animation: fadeIn 0.5s 0.5s both;
	-webkit-animation: fadeIn 0.5s 0.5s both;
	-moz-animation: fadeIn 0.5s 0.5s both;
	-ms-animation: fadeIn 0.5s 0.5s both;
	-o-animation: fadeIn 0.5s 0.5s both;
}
.page1 .logo2{
	margin-top:25px;
	text-align: center;
}
.page1.active .logo2{
	animation: fadeIn 1s 1s both;
	-webkit-animation:fadeIn 1s 1s both;
	-moz-animation:fadeIn 1s 1s both;
	-ms-animation:fadeIn 1s 1s both;
	-o-animation:fadeIn 1s 1s both;
}
.page1 .list{
	margin-top:52px;
	margin-left:375px;
	color:;
}
.page1 .list ul{
	border-left:1px solid #71643d;
}
.page1 .list li{
	margin-bottom: 14px;
	position: relative;
}
.page1 .list li:nth-child(1) .txt{
	animation: fadeIn 1s 1.5s both;
	-webkit-animation:fadeIn 1s 1.5s both;
	-moz-animation:fadeIn 1s 1.5s both;
	-ms-animation:fadeIn 1s 1.5s both;
	-o-animation:fadeIn 1s 1.5s both;
}
.page1 .list li:nth-child(2) .txt{
	animation: fadeIn 1s 2.0s both;
	-webkit-animation:fadeIn 1s 2.0s both;
	-moz-animation:fadeIn 1s 2.0s both;
	-ms-animation:fadeIn 1s 2.0s both;
	-o-animation:fadeIn 1s 2.0s both;
}
.page1 .list li:nth-child(3) .txt{
	animation: fadeIn 1s 2.5s both;
	-webkit-animation:fadeIn 1s 2.5s both;
	-moz-animation:fadeIn 1s 2.5s both;
	-ms-animation:fadeIn 1s 2.5s both;
	-o-animation:fadeIn 1s 2.5s both;
}
.page1 .list li:nth-child(4) .txt{
	animation: fadeIn 1s 3s both;
	-webkit-animation:fadeIn 1s 3s both;
	-moz-animation:fadeIn 1s 3s both;
	-ms-animation:fadeIn 1s 3s both;
	-o-animation:fadeIn 1s 3s both;
}
.page1 .list li:nth-child(5) .txt{
	animation: fadeIn 1s 3.5s both;
	-webkit-animation:fadeIn 1s 3.5s both;
	-moz-animation:fadeIn 1s 3.5s both;
	-ms-animation:fadeIn 1s 3.5s both;
	-o-animation:fadeIn 1s 3.5s both;
}
.page1 .list li .ico{
	background:url(../imgs/img2.png) no-repeat;
	position:absolute;
	width:25px;
	height:26px;
	top:0;
	left:-12.5px;
}
.page1 .list li .txt{
	margin-left:40px;
}
.page1 .list li .txt h2{
	line-height: 1;
	font-size:27px;
	color:#b99c63;
}
.page1 .list li .txt h3{
	font-size:23px;
	color:#b99c63;
	line-height: 34px;
}
.page1 .list li .txt h4{
	font-size:24px;
	color:#96896e;
	line-height: 32px;
}
.page1 .list li:nth-child(even){
	margin-left:-375px;
	width:375px;
	text-align:right;
}
.page1 .list li:nth-child(even) .txt{
	margin-right:40px;
}
.page1 .list li:nth-child(even) .ico{
	right:-12.5px;
	left:auto;
}
.arrow{
	position: absolute;
	bottom: 54px;
	left:50%;
	margin-left:-30px;
	animation: bounce-up 1.4s linear infinite;
	-webkit-animation: bounce-up 1.4s linear infinite;
	-moz-animation: bounce-up 1.4s linear infinite;
}
.page2.active .logo{
	animation: fadeIn 0.5s 0.5s both;
	-webkit-animation: fadeIn 0.5s 0.5s both;
	-moz-animation: fadeIn 0.5s 0.5s both;
	-ms-animation: fadeIn 0.5s 0.5s both;
	-o-animation: fadeIn 0.5s 0.5s both;
}
.page2 .logo2{
	margin-top: 23px;
	margin-left:140px;
}
.page2.active .logo2{
	animation: fadeIn 1s 1s both;
	-webkit-animation:fadeIn 1s 1s both;
	-moz-animation:fadeIn 1s 1s both;
	-ms-animation:fadeIn 1s 1s both;
	-o-animation:fadeIn 1s 1s both;
}
.page2 .gift{
	margin-top:76px;
	margin-left:94px;
}
.page2 .gift li{
	float:left;
	margin-right: 46px;
	margin-bottom:30px;
}
.page2 .gift li{
	float:left;
	margin-right: 46px;
	margin-bottom:30px;
}

.page2.active .gift li:nth-child(1){
	animation: bounceIn 1s 1.5s both;
	-webkit-animation:bounceIn 1s 1.5s both;
	-moz-animation:bounceIn 1s 1.5s both;
	-ms-animation:bounceIn 1s 1.5s both;
	-o-animation:bounceIn 1s 1.5s both;
}
.page2.active .gift li:nth-child(2){
	animation: bounceIn 1s 2s both;
	-webkit-animation:bounceIn 1s 2s both;
	-moz-animation:bounceIn 1s 2s both;
	-ms-animation:bounceIn 1s 2s both;
	-o-animation:bounceIn 1s 2s both;
}
.page2.active .gift li:nth-child(3){
	animation: bounceIn 1s 2.5s both;
	-webkit-animation:bounceIn 1s 2.5s both;
	-moz-animation:bounceIn 1s 2.5s both;
	-ms-animation:bounceIn 1s 2.5s both;
	-o-animation:bounceIn 1s 2.5s both;
}
.page2.active .gift li:nth-child(4){
	animation: bounceIn 1s 3s both;
	-webkit-animation:bounceIn 1s 3s both;
	-moz-animation:bounceIn 1s 3s both;
	-ms-animation:bounceIn 1s 3s both;
	-o-animation:bounceIn 1s 3s both;
}
.page2.active .gift li:nth-child(5){
	animation: bounceIn 1s 3.5s both;
	-webkit-animation:bounceIn 1s 3.5s both;
	-moz-animation:bounceIn 1s 3.5s both;
	-ms-animation:bounceIn 1s 3.5s both;
	-o-animation:bounceIn 1s 3.5s both;
}
.page2.active .gift li:nth-child(6){
	animation: bounceIn 1s 4s both;
	-webkit-animation:bounceIn 1s 4s both;
	-moz-animation:bounceIn 1s 4s both;
	-ms-animation:bounceIn 1s 4s both;
	-o-animation:bounceIn 1s 4s both;
}
.page2.active .gift li:nth-child(7){
	animation: bounceIn 1s 4.5s both;
	-webkit-animation:bounceIn 1s 4.5s both;
	-moz-animation:bounceIn 1s 4.5s both;
	-ms-animation:bounceIn 1s 4.5s both;
	-o-animation:bounceIn 1s 4.5s both;
}
.page2.active .gift li:nth-child(8){
	animation: bounceIn 1s 5s both;
	-webkit-animation:bounceIn 1s 5s both;
	-moz-animation:bounceIn 1s 5s both;
	-ms-animation:bounceIn 1s 5s both;
	-o-animation:bounceIn 1s 5s both;
}
.page2.active .gift li:nth-child(9){
	animation: bounceIn 1s 5.5s both;
	-webkit-animation:bounceIn 1s 5.5s both;
	-moz-animation:bounceIn 1s 5.5s both;
	-ms-animation:bounceIn 1s 5.5s both;
	-o-animation:bounceIn 1s 5.5s both;
}

.page2 .gift li img{
	height:157px;
}
.page3{
	position: relative;
}
.page3.active .logo{
	animation: fadeIn 0.5s 0.5s both;
	-webkit-animation: fadeIn 0.5s 0.5s both;
	-moz-animation: fadeIn 0.5s 0.5s both;
	-ms-animation: fadeIn 0.5s 0.5s both;
	-o-animation: fadeIn 0.5s 0.5s both;
}
.page3 .logo2{
	margin-top:35px;
	margin-left:132px;
}
.page3.active .logo2{
	animation: fadeIn 1s 1s both;
	-webkit-animation:fadeIn 1s 1s both;
	-moz-animation:fadeIn 1s 1s both;
	-ms-animation:fadeIn 1s 1s both;
	-o-animation:fadeIn 1s 1s both;
}
.page3 .list{
	margin-top:94px;
	margin-left:143px;
	position:relative;
	height: 292px;
}
.page3 .list .img{
	position: absolute;
	top:0;
	left:0;
}
.page3.active .list .img{
	animation: fadeInLeft 1s 1.5s both;
	-webkit-animation:fadeInLeft 1s 1.5s both;
	-moz-animation:fadeInLeft 1s 1.5s both;
	-ms-animation:fadeInLeft 1s 1.5s both;
	-o-animation:fadeInLeft 1s 1.5s both;
}
.page3 .list .txt{
	font-size:24px;
	color:#fced9c;
	position: absolute;
	top:90px;
	left:200px;
}
.page3.active .list .txt{
	animation: fadeInRight 1s 2s both;
	-webkit-animation:fadeInRight 1s 2s both;
	-moz-animation:fadeInRight 1s 2s both;
	-ms-animation:fadeInRight 1s 2s both;
	-o-animation:fadeInRight 1s 2s both;
}
.page3 .list .txt h2{
	line-height: 1;
	margin-bottom: 20px;
}
.page3.active .link{
	animation: fadeInUp 1s 2.5s both;
	-webkit-animation:fadeInUp 1s 2.5s both;
	-moz-animation:fadeInUp 1s 2.5s both;
	-ms-animation:fadeInUp 1s 2.5s both;
	-o-animation:fadeInUp 1s 2.5s both;
}
.page3 .btn{
	margin-top:112px;
	text-align: center;
	color:#fdf098;
}
.page3 .btn a{
	display: inline-block;
	width:240px;
	height:80px;
	line-height: 80px;
	border:1px solid #f6cb6f;
	color:#fdf098;
	margin-right:40px;
}
.page3 .tip{
	text-align: center;
	margin-top:30px;
	font-size: 24px;
	color:#947553;
}
.page3 .dialog{
	display: none;
}
.page3 .dialog.show{
	display: block;
}
.page3 .mask{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom: 0;
	background: rgba(0,0,0,0.85);
}
.page3 .share{
	margin-top:30px;
	position: absolute;
	top:30px;
	left:128px;
}
/*自定义css3动画*/
    @-webkit-keyframes bounce-up {
        25% {
            -webkit-transform: translateY(10px);
        }
        50%, 100% {
            -webkit-transform: translateY(0);
        }
        75% {
            -webkit-transform: translateY(-10px);
        }
    }

    @keyframes bounce-up {
        25% {
            transform: translateY(10px);
        }
        50%, 100% {
            transform: translateY(0);
        }
        75% {
            transform: translateY(-10px);
        }
    }